<settings>
<category label="Legenda">
	<setting label="[COLOR yellow]Legenda[/COLOR]" type="lsep"/>
	<setting label="Pedir legenda externa ao reproduzir?" id="legenda" type="bool" default="false" />
</category>
<category label="Meus Favoritos">
	<setting label="[COLOR yellow]Meus [/COLOR][COLOR lime]Favoritos[/COLOR]" type="lsep"/>
	<setting label="Entre aqui para limpar Meus Favoritos" type="action" action="RunScript(plugin.video.FlixCine, limparMinhaLista)"/>	
</category>
</settings>
